<a href="https://colab.research.google.com/github/banjotobi/ML-Experiments-Notebooks/blob/main/pandas_intro_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

1) Import a CSV file into a pandas DataFrame and view the first few rows. You can do this using the pd.read_csv() function.


2) Select specific columns from the DataFrame and view them. You can do this using the df[column_name] notation.

3) Filter the DataFrame to only include rows that meet certain criteria. You can do this using boolean indexing, such as df[df['column_name'] > 5].

4) Sort the DataFrame by one or more columns. You can do this using the df.sort_values() function.


5) Add a new column to the DataFrame. You can do this by assigning a new value to a new column name, like df['new_column'] = value.


6) Aggregate the data in the DataFrame by grouping by one or more columns and applying a function to the group. You can do this using the df.groupby() function and the .apply() method.


7) Merge two DataFrames together using a common column. You can do this using the pd.merge() function.

8) Replace values in a column of the DataFrame. You can do this using the df.replace() function.

9) Handle missing values in the DataFrame. You can do this using the df.dropna() function to drop rows with missing values, or the df.fillna() function to fill in missing values with a specified value.

10) Save the DataFrame to a CSV file. You can do this using the df.to_csv() function.

11. Get summary statistics of a DataFrame using the df.describe() function.

###    ! pip3 install numpy
###   import numpy as np

Convert a DataFrame to a NumPy array using the df.to_numpy() function.

Convert a DataFrame to a pivot table using the df.pivot_table() function.

Reshape a DataFrame using the df.pivot() or df.melt() functions.

Convert a DataFrame to a dictionary using the df.to_dict() function.

Convert a dictionary to a DataFrame using the pd.DataFrame.from_dict() function.

Read in a Excel file as a DataFrame using the pd.read_excel() function.

Write a DataFrame to an Excel file using the df.to_excel() function.

Split a DataFrame into multiple smaller DataFrames based on a column value using the df.groupby() function.

Concatenate multiple DataFrames into a single DataFrame using the pd.concat() function.

Select the rows of a DataFrame that have the maximum value for a certain column using the df.idxmax() function.

Select the rows of a DataFrame that have the minimum value for a certain column using the df.idxmin() function.

Select the rows of a DataFrame that have unique values in a certain column using the df.drop_duplicates() function.

Create a DataFrame from a list of dictionaries using the pd.DataFrame() function.

Create a DataFrame from a NumPy array using the pd.DataFrame() function.

Create a DataFrame with a single column of all ones using the pd.DataFrame() function and the np.ones() function.

Create a DataFrame with a single column of all zeros using the pd.DataFrame() function and the np.zeros() function.

Create a DataFrame with a single column of a range of numbers using the pd.DataFrame() function and the np.arange() function.

Create a DataFrame with a single column of normally distributed random numbers using the pd.DataFrame() function and the np.random.randn() function.

Create a DataFrame with a multi-index using the pd.MultiIndex() function and the df.set_index() function.

Remove the index of a DataFrame using the df.reset_index() function.

Rename the columns of a DataFrame

Plot data from a DataFrame using the df.plot() function.